---
- name: OpenVPN Server Keys | Create openvpn key directory
  file: path=/etc/openvpn/keys state=directory

- name: OpenVPN Server Keys | Generate CA key
  shell: openssl req -nodes -newkey rsa:4096 -keyout ca-key.pem -out ca-csr.pem -days 3650 -subj /CN=OpenVPN-CA/
    chdir=/etc/openvpn/keys
    creates=ca-key.pem

- name: OpenVPN Server Keys | Sign CA key
  shell: openssl x509 -req -in ca-csr.pem -out ca.crt -CAcreateserial -signkey ca-key.pem -days 3650
    chdir=/etc/openvpn/keys
    creates=ca.crt

- name: OpenVPN Server Keys | Generate server key
  shell: openssl req -nodes -newkey rsa:4096 -keyout server.key -out server.csr -days 3650 -subj /CN=OpenVPN/
    chdir=/etc/openvpn/keys
    creates=server.key

- name: OpenVPN Server Keys | Generate CA serial
  shell: echo "01" > ca.srl
    chdir=/etc/openvpn/keys
    creates=ca.srl

- name: OpenVPN Server Keys | Copy openssl server extension config
  copy: src=openssl-server.ext dest=/etc/openvpn/keys owner=root group=root mode=0400

- name: OpenVPN Server Keys | Sign server key
  shell: openssl x509 -req -in server.csr -out server.crt -CA ca.crt -CAkey ca-key.pem -days 3650 -extfile openssl-server.ext
    chdir=/etc/openvpn/keys
    creates=server.crt

- name: OpenVPN Server Keys | Generate tls-auth key
  shell: openvpn --genkey --secret ta.key
    chdir=/etc/openvpn/keys
    creates=ta.key

# NOTICE - as per, http://security.stackexchange.com/a/42418/17173, this
# is not a security issue since params aren't secret. File just needs not to
# be generated by an attacker.
#
# You can regenerate it: openssl dhparam -out dh4096.pem 4096
- name: OpenVPN Server Keys | Copy pre-generated DH params
  copy: src=dh4096.pem dest=/etc/openvpn/keys owner=root group=root mode=0400

# s3 module doesn't works as expected, using shell command to copy keys
- name: copy server keys to citadel bucket
  shell: aws s3 cp /etc/openvpn/keys/{{item}} s3://{{citadel_bucket}}/openvpn/keys/server/{{item}} --sse
  when: '{{openvpn_backup_keys}}'
  with_items:
    - ca-key.pem
    - ca.crt
    - ca.srl
    - server.key
    - server.crt
    - ta.key
    - dh4096.pem
