client
dev tun
proto {{openvpn_proto}}
remote {{ cname|default(ansible_ec2_public_ipv4) }} {{openvpn_port}}
resolv-retry infinite
nobind

persist-key
persist-tun

ca ca.crt
cert {{item}}.crt
key {{item}}.key

auth-user-pass

tls-auth ta.key 1
cipher AES-{{block_size}}-CBC
remote-cert-tls server

comp-lzo
verb 3
keepalive 10 120
reneg-sec 0
