[vg-mua]
aws_access_key_id = {{aws_account}}
aws_secret_access_key = {{aws_key}}

[default]
aws_region = {{aws_region}}
role_arn = arn:aws:iam::517000063441:role/CrossAccountSignIn
source_profile = vg-mua
